
body { 
    font-family:'Roboto', sans-serif; 
    width:100%;
    text-align: center; flex-wrap: wrap;
    max-width: 100%;
}

header {
    background-color: #007bff;
    width:100%;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
    text-align: center;
    }
header p {
    margin: 0;
    font-weight:bold;
    
}

h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    color: #2e2cde;
    text-align: center;
    font-size: 1em;

}


footer {
    background-color: #007bff;
    text-align:center;
    padding:1em;
    width: 100%;
    bottom:0;
    
}

    img {
        float:center;
       
        
    }
   
